<div id="index-header">
    <h1>Homepage</h1>
    <a class="btn" href="/article/create">Create new article</a>
</div>

<div class="article-list">
    {{#articles}}
        <article>
            <a href="/article/{{slug}}">
                <img src="/images/{{image}}" />
            </a>
            <h2><a href="/article/{{slug}}">{{name}}</a></h2>
        </article> 
    {{/articles}} 
</div>